

<div class="align-self-auto" style="max-width: 800px;height: 400px">
<div class="card align-content-center">
    <div class="btn-group">
        <a asp-controller="Auth" asp-action="SignIn" class="btn btn-success">Login</a>
        <a asp-controller="Auth" asp-action="SignUp" class="btn btn-primary">SignUp</a>
    </div>
    <div class="card-body">
        <h5 class="card-title">Login/SignUp</h5>
        <p class="card-text">Login or SignUp to list, add, edit, or delete the content.</p>
    </div>
</div>
<div class="card align-content-center" style="max-block-size: auto;">
    <img src="https://media.istockphoto.com/id/173015527/tr/foto%C4%9Fraf/a-single-red-book-on-a-white-surface.jpg?s=2048x2048&w=is&k=20&c=NGBLpTsY6xA118FWSw0uiZKhXUCyfnrT3tQtx2svHow=" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Books</h5>
        <p class="card-text">Go to Books page to list, add, edit, or delete the books.</p>
        <a asp-controller="Book" asp-action="List" class="btn btn-secondary">BOOKS</a>
    </div>
</div> 
<div class="card align-content-center" style="max-block-size: auto;">
    <img src="https://media.istockphoto.com/id/173015527/tr/foto%C4%9Fraf/a-single-red-book-on-a-white-surface.jpg?s=2048x2048&w=is&k=20&c=NGBLpTsY6xA118FWSw0uiZKhXUCyfnrT3tQtx2svHow=" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Authors</h5>
        <p class="card-text">Go to Authors page to list, add, edit, or delete the authors.</p>
        <a asp-controller="Author" asp-action="List" class="btn btn-secondary">AUTHORS</a>
    </div>
</div>
</div>
