<div class="card" >
    <div class="card-body">
        <form method="post" asp-controller="Author">
            <div class="mb-3">
                <label>ID</label>
                <input class="form-control" type="text"/>
                <span class="text-danger mt-2 fw-bold"></span>
            </div>
            <div class="mb-3">
                <label>Title</label>
                <input class="form-control" type="text"/>
                <span class="text-danger mt-2 fw-bold"></span>
            </div>
            <div class="mb-3">
                <label>Author</label>
                <input class="form-control" type="text"/>
                <span class="text-danger mt-2 fw-bold"></span>
            </div>
            <div class="mb-3">
                <label>Genre</label>
                <input class="form-control" type="text"/>
                <span class="text-danger mt-2 fw-bold"></span>
            </div>
            <div class="mb-3">
                <label>Publish Date</label>
                <input class="form-control" type="text"/>
                <span class="text-danger mt-2 fw-bold"></span>
            </div><div class="mb-3">
                <label>ISBN</label>
                <input class="form-control" type="text"/>
                <span class="text-danger mt-2 fw-bold"></span>
            </div>
            <div class="mb-3">
                <label>Copies</label>
                <input class="form-control" type="text"/>
                <span class="text-danger mt-2 fw-bold"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>